* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Instrument Serif", sans-serif;
    text-decoration: none;
}

@media (min-width: 1100px) {

    header {
        width: 100%;
        height: 130px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: white;

    }

    header img {
        width: 110px;
    }

    header a {
        color: black;
        text-shadow: 0 0 0.5px #000000;
        font-size: 20px;
        transition-duration: 0.5s;
        display: flex;
    }

    .EmUso {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .EmUso hr {
        border: #2C802F solid 1px;
        width: 70px;
        transition: 0.5s;
    }

    .EmUso a {
        color: #2C802F;
        padding: 10px;
        text-shadow: 0 0 3px #2C802F;
        transition: 0.5s;
    }

    header a:hover {
        color: #2C802F;
        transition: 0.5s;
        text-shadow: 0 0 1px #2C802F;
    }

    .EmUso a:hover~hr {
        width: 90px;
    }

    #search {
        display: flex;
    }

    .search {
        background-color: #F5F5F5;
        border: none;
        height: 30px;
        width: 250px;
        border-radius: 10px 0 0 10px;
        font-size: 20px;
        padding-left: 15px;
    }

    input:focus {
        outline: none;
    }

    #search a {

        width: 50px;
        height: 30px;
        background-color: #B6A1D4;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0 10px 10px 0;
    }

    #search a i {
        color: #000000;
        font-size: 20px;
    }

    .nada {
        height: 130px;
    }

    footer {
        height: 370px;
        background-color: #D9D9D9;
        box-shadow:
            0px -5px 10px rgba(0, 0, 0, 0.4),
            0px -10px 15px rgba(0, 0, 0, 0.2),
            0px -15px 20px rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .footer {
        text-align: left;
        width: 350px;
    }

    .footer img {
        width: 126px;
    }

    .footer i {
        font-size: 50px;
        color: #000000;
    }

    .footer p:not(.não) {
        margin-top: 35px;
    }

    .footer p {
        font-size: 20px;
        font-weight: 200;
        line-height: 1.4;
    }


    #meio {
        height: 86vh;
        background-color: #F2F2F2;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: -1px 28px 31px -24px rgba(0, 0, 0, 0.55) inset;
        -webkit-box-shadow: -1px 28px 31px -24px rgba(0, 0, 0, 0.55) inset;
        -moz-box-shadow: -1px 28px 31px -24px rgba(0, 0, 0, 0.55) inset;
    }

    .BarraPesquisa {
        width: 90%;
        height: 12%;
        background-color: #B9DABA;
        margin-top: 50px;
        border-radius: 15px 15px 0 0;
        display: flex;
        align-items: center;
        justify-content: right;
    }


    #search2 {
        display: flex;
        margin-right: 2%;
    }

    .search2 {
        background-color: #fff;
        border: none;
        height: 40px;
        width: 300px;
        border-radius: 10px 0 0 10px;
        font-size: 20px;
        padding-left: 15px;
    }


    #search2 a {

        width: 70px;
        height: 40px;
        background-color: #B6A1D4;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0 10px 10px 0;
    }

    #search2 a i {
        color: #000000;
        font-size: 30px;
    }

    #Produto {
        width: 90%;
        height: 65%;
        background-color: #fff;
        justify-content: space-around;
    }

    .Produto {
        display: flex;
        width: 100%;
        height: 280px;
        background-color: #fff;
        justify-content: space-around;
        align-items: center;

    }

    .check {
        width: 50px;
        height: 50px;
    }

    .tenis {
        width: 180px;
        height: 200px;
        background-color: #F5F5F5;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .tenis img {
        width: 226.14px;
        height: 226.14px;
        transform: rotate(-10deg);

    }

    .info{
        width: 70%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .info h3{
        font-size: 30px;
        font-weight: 200;

    }

    .Finalizar{
        background-color: #fff;
        width: 90%;
        height: 23%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
    }

    .Finalizar input{
        background-color: #B6A1D4;
        width: 30%;
        height: 50px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: none;
        font-size: 30px;
    }

}